apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: tomdeneyer/flask-app:c4a485d175b910baee9f9623b824ea09e0e157ea
          ports:
            - containerPort: 5000
